<style>
  body {
    padding: 2em;
  }
  h1 {
    text-align: center;
    margin-bottom: 2em;
  }
  div {
    margin: 1em;
  }
  input {
    display: block;
    margin: 0.8em 0 2em 0;
    height: 3.5em;
    width: 100%;
  }
  button {
    width: 100%;
    height: 3.5em;
    background-color: cadetblue;
    color: #ffffff;
    border: none;
  }
</style>

<h1>Login</h1>

<div>
  <label for="email">Email</label>
  <input type="email" placeholder="example@gmail.com" id="email" />

  <label for="password">Password</label>
  <input type="password" placeholder="Password" id="password" />
</div>

<div>
  <button id="login">Login</button>
</div>

<div>
  <p>Don't have an account? <a href="#">Register</a></p>
</div>

<script>
  document.getElementById("login").onclick = () => {
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    parent.postMessage(
      {
        pluginMessage: {
          type: "login-success",
          email,
          password,
        },
      },
      "*"
    );
    // console.log(email, password);
  };
</script>
